
#cover{
    display: flex;
    justify-content: center;
    align-items: center;
}
#cover p{
    font-size: 5rem;
}
#homeForNav{
    display: none;
}
#about{
    display: none;
}
#projects{
    display: none;
}
#skills{
    display: none;
}
#contact{
    display: none;
}