/* .images{
    width: 45%;
    height: 58%;
    position: absolute;
    bottom: 20vh;
    right: 0px;
} */
.hero{
    height: 80vh;
}
.images{
    display: none;
    right: 0px;
}
#main #about .container .content p {
    margin-top: 1rem;
    font-size: 1rem;
    font-family: 'Baloo Bhaijaan 2', cursive;
  }